#reelgood_default_styling_edit_styling_button {
  background-color: #00dc89;
  margin-right: 32px;
}

#reelgood_default_styling_reset_all_widgets_button {
  background-color: #00dc89;
  margin-right: 32px;
}
