#reelgood_admin_default_styling_reset_widgets_reset {
  background-color: #00dc89;
  margin-right: 32px;
}

#reelgood_admin_default_styling_reset_widgets_cancel {
  background-color: #d8d8d8;
  margin-right: 32px;
}

#reelgood_admin_default_styling_reset_widgets_close {
  background-color: #00dc89;
  margin-right: 32px;
}
